.shadow {
    visibility: hidden;
    position: absolute;
    user-select: none;
    pointer-events: none;
    font: inherit;
}

.target {
    font: inherit;
}

.target[type="number"]::-webkit-outer-spin-button,
.target[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}