html {
  background: #E3E3E3;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

input {
  border: none;
  background: transparent;
  border-bottom: dashed 1px #E3E3E3;
}

ul {
  list-style: none;
}

dt {
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 0.5em;
}

dd {
  margin-inline-start: 0;
  margin-bottom: 1em;
}

table {
  width: 100%;
  border-spacing: 0;
}
tr:nth-child(odd) {
  background: #C6C7D5;
}
tr:nth-child(even) {
  background: #ACAFC7
}
th {
  background: #545A8E;
  color: #E3E3E3;
  padding: 0 .2em;
}
th, td {
  white-space: nowrap;
}
thead th, tfoot th {
  height: 2em;
}

.fa-plus-circle {
  color: #008348;
}
.fa-minus-circle {
  color: #B32034;
}
.fa-docker {
  color: #006EA5;
}

button {
  border: none;
  margin: .2em;
  padding: .2em .8em;
  box-sizing: border-box;
  border-radius: .4em;
  box-shadow: 1px 1px 3px #545A8E;
  background: #E3E3E3;
}
button:hover {
  filter: brightness(120%);
}
button:active {
  filter: brightness(140%);
}
